<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.cy.controller" />
	
	<!-- 默认的注解映射的支持 -->
  	<mvc:annotation-driven >
  		<mvc:message-converters>
  			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
  				<constructor-arg value="#{T(java.nio.charset.Charset).forName('UTF-8')}"/>
  				<property name="supportedMediaTypes">
                   <list>
                       <value>text/plain;charset=UTF-8</value>
                       <value>text/html;charset=UTF-8</value>
                       <value>applicaiton/javascript;charset=UTF-8</value>
                   </list>
               </property>
               <property name="writeAcceptCharset"><value>false</value></property>
  			</bean>
  			<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
  				<property name="supportedMediaTypes">
  					<list>
  						<value>text/html;charset=UTF-8</value>
  						<value>application/json; charset=UTF-8</value>
  						<value>application/x-www-form-urlencoded; charset=UTF-8</value>
  					</list>
  				</property>
  			</bean>
  		</mvc:message-converters>
  	</mvc:annotation-driven> 
	
	<!-- 对静态资源文件的访问 -->
	<mvc:resources mapping="/static/**" location="/static/" />

	<!-- Resolver是一种展示策略, viewClass对应展示处理, InternalResourceViewResolver对jsp、jstl的支持好 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 默认值为下面的，所以不用配置 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property> -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	

	<bean name="/"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="index" />
	</bean>
	
</beans>